@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/* --- all ----*/
.nav,
.body,
.wrapper {
  font-family: 'Poppins', san-serif;
}

/* --- sidebar ----*/
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.sidebar {
  /*padding-left: 2rem;*/
  background-color: #30373d;
  min-width: 250px;
  min-height: 100vh;
  max-width: 250px;
}

.sidebar li {
  padding-left: 3rem;
  font-size: 1.2rem;
  padding-top: 1rem;
  color: #ffffff;
}

.sidebar-title {
  padding-left: 1rem;
  font-size: 2rem;
}

.navbar-brand img {
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  height: 100%;
  width: 100%;
}

/*--- remaining container --- */

.container-body {
  padding-top: 0.5rem;
  background-color: #293036;
}

.container-body-title {
  padding-right: 3rem;
}

.hr-body-top {
  border: 1px solid white;
  width: 100%;
}

/* ---- jumbotron ------*/

.index-jumbotron {
  padding-top: 1vw;
  padding-bottom: 1vw;
  background-color: #232a30;
  margin-right: 1rem;
  margin-left: 1rem;
  posistion: relative;
  z-index: 2;
  box-shadow: 0 4px 8px -6px black;
}

.index-crypto img {
  width: 20%;
  height: auto;
}

.index-crypto {
  font-size: 3vw;
}

/* ---- transaction history ---- */

.transaction-history {
  padding-top: 2vw;
  background-color: #232a30;
  margin-right: 1rem;
  margin-left: 1rem;
  posistion: relative;
  z-index: 2;
  box-shadow: 0 4px 8px -6px black;
}

.t-h-title {
  font-size: 3vw;
}

/* ----- button ------*/
.btn-outline-warning {
  color: white;
  background-color: transparent;
  background-image: none;
  border-color: #f79a07;
}
.btn-outline-warning:hover {
  color: black;
  background-color: #f79a07;
  border-color: #f79a07;
}

.send-button {
  padding-left: 22.5px;
  padding-right: 22.5px;
}

/* ---- button colors ----*/
.text-white {
  color: #ffffff;
}

.text-gold {
  color: #f79a07;
}

.text-black {
  color: #000;
}

.button-gold {
  background-color: #f79a07;
}

.button-white {
  background-color: #ffffff;
}

.button-green {
  background-color: #038000;
}

.vertical-bar {
  border-right: 1px dashed #333;
}

/* ------ modal -------*/
.timeline-line span {
  display: inline-block;
  vertical-align: middle;
}

.timeline-line i {
  color: #00ff00;
}

.outer-line-1,
.outer-line-2,
.outer-line-3,
.outer-line-4,
.outer-line-5 {
  width: 13.5%;
  border-bottom: 3px solid grey;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}